/* 重置&默认(reset&base)(tags) */

*[hidefocus],
button {
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: auto;
    overflow-y: scroll;
    background-color: #fff;
}

article,
header,
section,
footer,
aside,
nav,
details,
figcaption,
figure,
hgroup,
main,
summary {
    display: block;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

html,
body,
iframe,
img,
fieldset {
    border: 0;
}

body,
header,
section,
footer,
div,
p,
span,
a,
input,
textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

ul>li {
    list-style: none;
}

button {
    cursor: pointer;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}


/* 字体相关 */

body,
input,
textarea,
select,
pre {
    /*font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","arial","simsun","宋体";*/
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', Arial, sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
    font-size: 12px;
    color: #333;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

caption,
th {
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

em,
strong {
    font-weight: bold;
    font-style: normal;
}


/* 超链接 */

a {
    color: #0089F2;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* 自定义滚动条 
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #fff;
  outline: 2px solid #fff;
  outline-offset: -2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9f9f9f;
}
*/


/***********************************/

.f-cb:after,
.f-cbli li:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}

.f-cb,
.f-cbli li {
    zoom: 1;
}

.f-ib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.f-dn {
    display: none;
}

.f-db {
    display: block;
}

.f-dib {
    display: inline;
}

.f-vh {
    visibility: hidden;
}

.f-vc {
    visibility: collapse;
}

.f-vv {
    visibility: visible;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.f-pr {
    position: relative;
}

.f-prz {
    position: relative;
    zoom: 1;
}

.f-oh {
    overflow: hidden;
}

.f-bsbb {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.f-ff0 {
    font-family: arial, \5b8b\4f53;
}

.f-ff1 {
    font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53;
}

.f-fs1 {
    font-size: 12px;
}

.f-fs2 {
    font-size: 14px;
}

.f-fwn {
    font-weight: normal;
}

.f-fwb {
    font-weight: bold;
}

.f-tal {
    text-align: left;
}

.f-tac {
    text-align: center;
}

.f-tar {
    text-align: right;
}

.f-taj {
    text-align: justify;
    text-justify: inter-ideograph;
}

.f-vam,
.f-vama * {
    vertical-align: middle;
}

.f-wsn {
    word-wrap: normal;
    white-space: nowrap;
}

.f-pre {
    overflow: hidden;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.f-wwb {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.f-ti {
    overflow: hidden;
    text-indent: -30000px;
}

.f-ti2 {
    text-indent: 2em;
}

.f-lhn {
    line-height: normal;
}

.f-tdu,
.f-tdu:hover {
    text-decoration: underline;
}

.f-tdn,
.f-tdn:hover {
    text-decoration: none;
}

.f-toe {
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.f-csp {
    cursor: pointer;
}

.f-csd {
    cursor: default;
}

.f-csh {
    cursor: help;
}

.f-csm {
    cursor: move;
}

.f-usn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.f-mgl {
    margin-left: 10px;
}

.f-mgtb {
    margin: 10px 0;
}

.f-mgt5 {
    margin-top: 5px;
}

.f-mgt10 {
    margin-top: 10px;
}

.f-mgt15 {
    margin-top: 15px;
}

.f-mgt20 {
    margin-top: 20px;
}

.f-mgb5 {
    margin-bottom: 5px;
}

.f-mgb10 {
    margin-bottom: 10px;
}

.f-mgb15 {
    margin-bottom: 15px;
}

.f-mgb20 {
    margin-bottom: 20px;
}

.f-pl5 {
    padding-left: 5px;
}

.f-pt10 {
    padding-top: 10px;
}

.f-bs {
    box-sizing: border-box;
}

.s-fc0,
a.s-fc0:hover {
    color: #333;
}

.s-fc1,
a.s-fc2:hover {
    color: #666;
}

.s-fc3,
a.s-fc3:hover {
    color: #999;
}

.s-fc4,
a.s-fc4:hover {
    color: #ee8100;
}

.s-fc5,
a.s-fc5:hover {
    color: #e32740;
}


/**页面所有超链接色值024A96**/

.s-fc6,
a.s-fc6:hover {
    color: #024A96;
}


/**按钮蓝**/

.s-fc7,
a.s-fc7:hover {
    color: #0055AF;
}

.s-fc8,
a.s-fc8:hover {
    color: #151515;
}

.s-fc9,
a.s-fc9:hover {
    color: #9CADCA;
}

a.s-fc10 {
    color: #666;
    &:hover {
        color: #024A96;
    }
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #D5D5D5;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #D5D5D5;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #D5D5D5;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: #D5D5D5;
    opacity: 1;
}

.f-at {
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
        border: 0px solid transparent;
        border-width: 0px 6px 8px 6px;
        border-bottom-color: #D9DEE6;
        top: -9px;
        left: 0px;
    }
    &:after {
        border-bottom-color: #fff;
        top: -7px;
    }
    &.f-atc:before,
    &.f-atc:after {
        left: 50%;
        margin-left: -6px;
    }
}


/* 布局(grids)(.g-) */

.g-doc {
    position: relative;
    min-width: 1200px;
    &.g-doc-bg {
        background-color: #f9f9f9;
    }
}


/* 头部 */

.g-hd {
    height: 50px;
    position: relative;
}


/* 主体 */

.g-bd {
    min-height: 100%;
    max-width: 1000px;
    margin: -50px auto -170px;
    padding: 50px 0px 170px;
    box-sizing: border-box;
}

.g-doc-sft {
    .g-bd {
        padding-bottom: 60px;
        margin-bottom: -60px;
    }
    .g-ft {
        height: 60px;
    }
}


/* 主栏 */

.g-mn {}


/* 侧栏 */

.g-sd {
    width: 200px;
    height: 100%;
    background-color: #364151;
    overflow: auto;
}


/* 尾部 */

.g-ft {
    height: 170px;
    background-color: #fcfcfc;
}

@keyframes g-loading-circle {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}